@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

body {
	background-color: #B0B6C2
	}
#header {
	background-color: #3c4543;
	height: 75px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	clear: both;
	position: relative;
}
#headtext {
	font-family: 'Leckerli One', "Brush Script MT", cursive;
	font-size: 35px;
	color: #D9FAFF;
	padding: 5px
	}
.sideButton {
	background-color: #3c4543;
	height: 50px;
	width: 150px;
	border-radius: 15px;
}

h1 {
	color: #F2F5FA;
	text-align: center;
	font-family: 'Patrick Hand SC', Garamond
	}
p {
	color: #F2F5FA;
	font-family: 'Patrick Hand SC', Garamond;
	margin: auto;
	padding: 6px
	}

#footer {
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
}