@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

body {
	background-image: linear-gradient(bottom, rgb(151,184,180) 0%, rgb(63,69,68) 100%);
	background-image: -o-linear-gradient(bottom, rgb(151,184,180) 0%, rgb(63,69,68) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(151,184,180) 0%, rgb(63,69,68) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(151,184,180) 0%, rgb(63,69,68) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(151,184,180) 0%, rgb(63,69,68) 100%);
	font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	} 
	
@font-face {
    font-family: 'FFFTusjBold';
    src: url('fonts/FFF_Tusj-webfont.eot');
    src: url('fonts/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/FFF_Tusj-webfont.woff') format('woff'),
         url('fonts/FFF_Tusj-webfont.ttf') format('truetype'),
         url('fonts/FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header {
	background-image: linear-gradient(top, rgb(44,48,48) 95%, rgb(86,89,87) 100%);
	background-image: -o-linear-gradient(top, rgb(44,48,48) 95%, rgb(86,89,87) 100%);
	background-image: -moz-linear-gradient(top, rgb(44,48,48) 95%, rgb(86,89,87) 100%);
	background-image: -webkit-linear-gradient(top, rgb(44,48,48) 95%, rgb(86,89,87) 100%);
	background-image: -ms-linear-gradient(top, rgb(44,48,48) 95%, rgb(86,89,87) 100%);
	height: 75px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	clear: both;
	position: relative;
	border: 2px solid #D9FAFF;
}

#headtext {
	font-family: 'Leckerli One', "Brush Script MT", cursive;
	font-size: 35px;
	color: #D9FAFF;
	padding: 5px;
}

#headroom {
	padding: 10px;
}

ul {
    list-style-type: none;
	padding: 0px;
	margin: 0px;
}
	
.sideButton {
	background-color: #3c4543;
	height: 50px;
	width: 150px;
	border-radius: 15px;
	color: #F2F5FA;
	text-align: center;
	margin-bottom: 10px;
	border: 1px dashed #D9FAFF;
	text-shadow: rgba(217, 250, 255, 0.5) 1px 1px 1px;
	line-height: 45px;
	-webkit-box-shadow: rgba(217, 250, 255, 0.5) 2px 1px 1px;
	-moz-box-shadow: rgba(217, 250, 255, 0.5) 2px 1px 1px;
	box-shadow: rgba(217, 250, 255, 0.5) 2px 1px 1px;
}

.sideButton:hover {
	opacity:0.75;
}

#birdList , #doggies {
	display: none;
	color: #F2F5FA;
	font-size: 20px;
}

#sideMenu {
	position:relative;
	margin-right: 80px

}

.mainBit {
	float: right;
    position: relative;
    text-align: left;
    width: 80%;
}

h1 {
	font-family: 'FFFTusjBold';
	color: #F2F5FA;
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	}

p {
	margin: auto;
	padding: 6px
	}
	
li, p {
	font-size: 16px;
	color: #F2F5FA;
}

#footer {
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #3c4543;
}

.highlighted {
	
}

.birdPic {
  height: 125px;
  width: auto;
}
 
.birdpic:hover {
	height: 200px;
	width: auto;
}